<div class="right_col conteudo_paginas" role="main">

    <br />
    <br />
    <br />

    <div class="icon_Page_Pontencializar">
        <img src="~/images/IconAcelerar.png" height="150" />
        <h2 style="text-align:center; width:150px;">Acelerar</h2>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="card-Pontencializar-alig-itens">

        <div class="card-Pontencializar">
            <div class="card-Pontencializar-conteudo">
                <br />
                <i class="fa fa-users fa-3x"></i>
                <br />
                <br />
                <h4>Estruturação</h4>
                <hr />
                <p>
                    Não basta ter um escopo claro com as ações que você precisa implementar,
                    é preciso direcionar sistematicamente as suas ações para que as estratégias
                    que foram planejadas aconteçam.
                </p>
                <p>
                    Agende hoje mesmo o seu encontro com o Estrategista de Negócios Alessandro
                    Mendes e receba orientações estratégicas direcionadas para enfrentar
                    seus desafios competitivos.
                </p>
                <br />
                <a class="btn btn-saiba-mais-potencializar" href="#contato1" target="" title="" rel="">
                    SAIBA +
                </a>

            </div>
        </div>

        <div class="card-Pontencializar">
            <div class="card-Pontencializar-conteudo">
                <br />
                <i class="fa fa-cogs fa-3x"></i>
                <br />
                <br />
                <h4>Implementação</h4>
                <hr />
                <p>
                    Não basta ter um escopo claro com as ações que você precisa implementar,
                    é preciso direcionar sistematicamente as suas ações para que as estratégias
                    que foram planejadas aconteçam.
                </p>
                <p>
                    Agende hoje mesmo o seu encontro com o Estrategista de Negócios Alessandro Mendes
                    e receba orientações estratégicas direcionadas para enfrentar
                    seus desafios competitivos.
                </p>
                <br />
                <a class="btn btn-saiba-mais-potencializar" href="#contato1" target="" title="" rel="">
                    SAIBA +
                </a>

            </div>
        </div>

        <div class="card-Pontencializar">

            <div class="card-Pontencializar-conteudo">
                <br />
                <i class="fa fa-flash fa-3x"></i>
                <br />
                <br />
                <h4>Aceleração</h4>
                <hr />
                <p>
                    Não basta ter um escopo claro com as ações que você precisa implementar,
                    é preciso direcionar sistematicamente as suas ações para que as
                    estratégias que foram planejadas aconteçam.
                </p>
                <p>
                    Agende hoje mesmo o seu encontro com o Estrategista de Negócios
                    Alessandro Mendes e receba orientações estratégicas
                    direcionadas para enfrentar seus desafios competitivos.
                </p>
                <br />
                <a class="btn btn-saiba-mais-potencializar" href="#contato1" target="" title="" rel="">
                    SAIBA +
                </a>
            </div>

        </div>
    </div>



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-md-7 col-sm-7" id="contato1" style="margin:0 auto;">
            <h1>Solicite seu orçamento agora e impulsione a sua <span style="color: #FFBF00;">ideia inovadora!</span></h1>
        </div>
    </div>
    <br />
    <br />
    <br />

    <div class="row">
        <div class="col-md-5 col-sm-5" style="margin:0 auto; text-align:center;">
            <form>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Seu nome (Obrigatório)</label>
                    <input type="text" class="form-control input_contato_oracamento" id="nome" placeholder="informe seu nome" required />
                </div>

                <div class="form-group">
                    <label for="exampleFormControlInput1">Seu melhor e-mail para contato (Obrigatório)</label>
                    <input type="email" class="form-control input_contato_oracamento" id="email" placeholder="Digite seu e-mail" required>
                </div>

                <div class="form-group">
                    <label>Assunto</label>
                    <select name="assunto" class="form-control input_contato_oracamento" id="assunto" aria-required="true" aria-invalid="false" required>
                        <option value="">---</option>
                        <option value="Elogio">Elogio</option>
                        <option value="Informação">Informação</option>
                        <option value="Dúvida">Dúvida</option>
                        <option value="Outros">Outros</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Digite sua mensagem (Obrigatório)</label>
                    <textarea class="form-control input_contato_oracamento" id="mensagem" rows="3" required></textarea>
                </div>

                <button type="button" class="btn btn-default btn-submit-orcamento">ENVIAR CONTATO</button>

            </form>

            <br />
            <br />
            <br />

            <div class="col-sm-12">
                <h6>Eu aceito os Termos de Uso e <a href="#" style="color: #FFBF00;">Privacidade</a> do site.</h6>
            </div>
        </div>
    </div>

    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>