<div class="right_col conteudo_paginas" role="main">

    <br />
    <br />
    <br />

    <div class="card-Pontencializar-alig-itens">

        <div class="card-Pontencializar">
            <div class="card-Pontencializar-conteudo alinhar-texto-tipo-card">
                <br />

                <div class="tipo-item-prontencializar">
                    <img src="~/images/Ativo 30.png" height="100" style="margin-left:15px;" />
                    <br />
                    <br />
                </div>
                <h4>IDEALIZAR</h4>
                <hr />
                <p>
                    Entender o problema e buscar soluções.
                    Essa é a missão dessa etapa de ideação.
                    Entenda, explore e idealize soluções que vão
                    te ajudar a evoluir e gerar resultados.
                </p>
                <br />
                <hr />
                <a class="btn btn-saiba-mais-potencializar" href="~/Potencializar/Idealizar" target="" title="" rel="">
                    CONHEÇA
                </a>

            </div>
        </div>

        <div class="card-Pontencializar">
            <div class="card-Pontencializar-conteudo alinhar-texto-tipo-card">
                <br />
                <div class="tipo-item-prontencializar">
                    <img src="~/images/IconPrototipar.png" height="100" />
                    <br />
                    <br />
                </div>
                <h4>PROTOTIPAR</h4>

                <hr />
                <p>
                    Antes de implementar por completo a inovação,
                    é necessário rodar os protótipos para validar.
                    Elabore, estruture e teste a sua
                    inovação de forma assertiva e segura.
                </p>
                <br />
                <hr />
                <a class="btn btn-saiba-mais-potencializar" href="~/Potencializar/Prototipar" target="" title="" rel="">
                    CONHEÇA
                </a>

            </div>
        </div>

        <div class="card-Pontencializar">

            <div class="card-Pontencializar-conteudo alinhar-texto-tipo-card">
                <br />

                <div class="tipo-item-prontencializar">
                    <img src="~/images/IconAcelerar.png" height="100" width="100" />
                    <br />
                    <br />
                </div>
                <h4>ACELERAR</h4>

                <hr />
                <p>
                    Através dos nossos projetos ágeis você consegue
                    implementar rapidamente as ideias validadas no protótipo,
                    estruturando esquadrões de inovação e implementação.
                </p>
                <br />
                <hr />
                <a class="btn btn-saiba-mais-potencializar" href="~/Potencializar/Acelerar" target="" title="" rel="">
                    CONHEÇA
                </a>
            </div>

        </div>
    </div>



    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>