*{
    margin:0;
    padding:0;
}

body {
    margin: 30px auto;
    width: 60%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgba(0,0,0,0.9);
    text-align:justify;
}

ul, ol {
    list-style-type: none;
}
