
@{
    Layout = "~/Views/Shared/_Empty.cshtml";
}

<DOCTYPE html />
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Gentelella Alela! | </title>

    <link href="/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <link href="/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="/Content/css/grow/jquery.growl.css" rel="stylesheet" />
    <link href="/Content/build/css/custom.css" rel="stylesheet" />

</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">

                        <h1 class="error-number">404</h1>
                        <h2>Desculpe, mas não encontramos esta página</h2>
                        <p>Esta página que você está procurando não existe</p>

                        <div class="mid_center">
                            <a class="dropdown-item btn-dark" href="~/Home/"><i class="fa fa-sign-out pull-right"></i> Voltar para o sistema</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>

    <script src="/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/Content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/vendors/fastclick/lib/fastclick.js"></script>
    <script src="/Content/vendors/nprogress/nprogress.js"></script>
    <script src="/Content/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="/Content/vendors/gauge.js/dist/gauge.min.js"></script>
    <script src="/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/Content/vendors/iCheck/icheck.min.js"></script>
    <script src="/Content/vendors/skycons/skycons.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.resize.js"></script>
    <script src="/Content/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/Content/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/Content/vendors/flot.curvedlines/curvedLines.js"></script>
    <script src="/Content/vendors/DateJS/build/date.js"></script>
    <script src="/Content/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/Content/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/Content/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="/Content/vendors/moment/min/moment.min.js"></script>
    <script src="/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/Content/js/grow/jquery.growl.js"></script>
    <script src="/Content/build/js/custom.js"></script>

</body>
</html>



