@{
    Layout = "~/Views/Shared/_Empty.cshtml";
}
<!DOCTYPE html />
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="icon" href="../../images/icon_pages.png" type="image/ico" width="30" heigth="50" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>

    <link href="/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/Content/vendors/nprogress/nprogress.css" rel="stylesheet" />
    <link href="/Content/vendors/iCheck/skins/flat/green.css" rel="stylesheet" />
    <link href="/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet" />
    <link href="/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />
    <link href="/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
    <link href="/Content/css/grow/jquery.growl.css" rel="stylesheet" />
    <link href="/Content/build/css/custom.css" rel="stylesheet" />
    <link href="/Content/css/datepicker/datepicker.min.css" rel="stylesheet" />
    <link href="/Content/build/css/custom.css" rel="stylesheet" />    

</head>
<body class="login">

    <div class="div_conteiner_login">

        <div class="img_login">
            <img src="~/images/icon_login.png" title="idalizei imagem login" />
        </div>

        <div class="div_login">

            <div class="form_login">

                <form id="Login" method="post" action="~/Login/ValidarLoginPadrao/">
                    <h2 class="cabecalho_login">Efetuar Login</h2>
                    <div>
                        <input name="nome" type="text" class="form-control input_login input" placeholder="E-mail" required />
                    </div>
                    <div>
                        <input name="senha" type="password" class="form-control input_login input" placeholder="Senha" required />
                    </div>
                    <div>
                        <a href="~/Login/RedefinirSenha" title="registrar-se" class="btn_login_registrase">Esqueci minha senha</a>
                        <button type="submit" class="btn btn-light submit btn_login_entrar">Entrar</button>
                    </div>
                    <br />
                    <br />

                    <a href="~/User/" title="registrar-se" class="btn_login_registrase">Registrar-se gratuitamente</a>
                    <a href="~/PoliticaPrivacidade/" title="registrar-se" class="btn_login_registrase">Politica privacidade</a>
                </form>

            </div>

        </div>
    </div>

    <script src="/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/Content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/Content/vendors/fastclick/lib/fastclick.js"></script>
    <script src="/Content/vendors/nprogress/nprogress.js"></script>
    <script src="/Content/vendors/Chart.js/dist/Chart.min.js"></script>
    <script src="/Content/vendors/gauge.js/dist/gauge.min.js"></script>
    <script src="/Content/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/Content/vendors/iCheck/icheck.min.js"></script>
    <script src="/Content/vendors/skycons/skycons.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.pie.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.time.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.stack.js"></script>
    <script src="/Content/vendors/Flot/jquery.flot.resize.js"></script>
    <script src="/Content/vendors/flot.orderbars/js/jquery.flot.orderBars.js"></script>
    <script src="/Content/vendors/flot-spline/js/jquery.flot.spline.min.js"></script>
    <script src="/Content/vendors/flot.curvedlines/curvedLines.js"></script>
    <script src="/Content/vendors/DateJS/build/date.js"></script>
    <script src="/Content/vendors/jqvmap/dist/jquery.vmap.js"></script>
    <script src="/Content/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script src="/Content/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="/Content/vendors/moment/min/moment.min.js"></script>
    <script src="/Content/vendors/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/Content/js/grow/jquery.growl.js"></script>
    <script src="/Content/js/blockUI/jquery.blockUI.js"></script>
    <script src="/Content/custom/js/Loading.js"></script>
    <script src="/Content/js/datepicker/datepicker.min.js"></script>

    <script src="/Content/build/js/custom.js"></script>
    <script src="/Content/custom/js/Ideia.js"></script>

</body>
</html>