<!-- page content -->
<div class="right_col" role="main">

    <!-- top tiles -->
    <div class="row chart-totais chart-itens-totais">
        <div class="tile_count col-md-12 col-sm-12">

            <a href="~/ideia/index/?aba=2" class="col-md-4 col-sm-4  tile_stats_count">
                <h2 class="count" id="qntIdeiasLaboratorio"></h2>
                <h2 class="count_bottom" id="qntIdeiasLaboratorio_texto"></h2>
            </a>

            <a href="~/ideia/index/?aba=3" class="col-md-4 col-sm-4  tile_stats_count">
                <h2 class="count" id="qntIdeiasCadastras"></h2>
                <h2 class="count_bottom" id="qntIdeiasCadastras_texto"></h2>
            </a>

            <a href="~/Avaliacao/IdeiasAvaliadasFeedbacks" class="col-md-4 col-sm-4  tile_stats_count">
                <h2 class="count" id="qntFeedbacksCadastras"></h2>
                <h2 class="count_bottom" id="qntFeedbacksCadastras_texto"></h2>
            </a>

        </div>
    </div>
    <!-- /top tiles -->
    <!-- FILTER IDEIAS -->
    <div class="row x_title" style="text-align:center;">
        <div class="col-md-12">
            <h3 style="color:#FFBF00;">SEU HISTÓRICO</h3>
        </div>
        <div class="col-md-6" style="display:none;">
            <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>
                <span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>
            </div>
        </div>
    </div>

    <!-- linha de chart -->
    <div class="row">
        @{ int j = 0;
            for (int i = 1; i <= Convert.ToInt32(ViewBag.MediaPontuacaoFeedbacks.Data.Count); i++)
            {
                <div class="col-md-3 col-sm-6  widget_tally_box">

                    <div class="x_panel">
                                <div class="x_title">                                                                        
                                    <span>Nome ideia:</span>                                    
                                    <h2 style="font-weight: bold;">
                                        <a href="/Ideia/Edit?idIdeia=@ViewBag.InfoCards.Data[j].IDHASH">
                                            @ViewBag.InfoCards.Data[j].NOME_IDEIA
                                         </a>
                                    </h2>
                                    <span>Média nota:</span>
                                    <h2 style="font-weight: bold;">@ViewBag.MediaPontuacaoFeedbacks.Data[i - 1].MEDIA</h2>
                                    <h2 style="display:none;" id="id_quantidade_feedbacks_@ViewBag.InfoCards.Data[j].ID">@ViewBag.MediaPontuacaoFeedbacks.Data[i - 1].QTD_FEEDBACKS</h2>

                                    <ul class="nav navbar-right panel_toolbox">
                                        <li class="dropdown" style="opacity:0; cursor:default !important;">
                                            <a href="#" class="dropdown-toggle" style="opacity:0; cursor:default !important;" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <a class="dropdown-item" href="#">Settings 1</a>
                                                <a class="dropdown-item" href="#">Settings 2</a>
                                            </div>
                                        </li>

                                        <li>
                                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                                        </li>
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                        <div class="x_content conteudo_cad">
                            <div id="graph_bar_home_@ViewBag.InfoCards.Data[j].ID" style="width:100%; height:200px;"></div>
                        </div>
                    </div>
                </div>

                <div class="col-md-1 col-sm-1">
                </div>

                j = j + 5;
            }
        }
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>
<!-- /page content -->
