@{
    Layout = "~/Views/Shared/_Empty.cshtml";
}
<html>
<head>
    <link href="/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/custom/css/PoliticaPrivacidade.css" rel="stylesheet" />
</head>
<body>

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Politica de privacidade</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#perfil" role="tab" aria-controls="profile" aria-selected="false">Termos de uso</a>
        </li>
    </ul>

    <div class="tab-content" id="myTabContent">
   
        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
            <h2>Política Privacidade</h2>
            <p>
                A sua privacidade é importante para nós. É política do idealizei respeitar a sua privacidade em
                relação a qualquer informação sua que possamos coletar no site <a href=www.idealizei.com.br>idealizei</a>,
                e outros sites que possuímos e operamos.
            </p>
            <p>
                Solicitamos informações pessoais apenas quando realmente precisamos delas para lhe
                fornecer um serviço. Fazemo-lo por meios justos e legais, com o seu conhecimento e consentimento.
                Também informamos por que estamos coletando e como será usado.
            </p>
            <p>
                Apenas retemos as informações coletadas pelo tempo necessário para fornecer o serviço solicitado.
                Quando armazenamos dados, protegemos dentro de meios comercialmente aceitáveis ​​para evitar perdas e roubos,
                bem como acesso, divulgação, cópia, uso ou                        modificação não autorizados.
            </p>
            <p>
                Não compartilhamos informações de identificação pessoal publicamente ou com terceiros, exceto quando exigido por lei.
            </p>
            <p>
                O nosso site pode ter links para sites externos que não são operados por nós.
                Esteja ciente de que não temos controle sobre o conteúdo e práticas desses sites e não podemos aceitar responsabilidade
                por suas respectivas <a href='https://politicaprivacidade.com' target='_BLANK'>políticas de privacidade</a>.
            </p>
            <p>
                Você é livre para recusar a nossa solicitação de informações pessoais, entendendo que talvez não possamos fornecer alguns dos serviços desejados.
            </p>
            <p>
                O uso continuado de nosso site será considerado como aceitação de nossas práticas em torno de privacidade e informações pessoais.
                Se você tiver alguma dúvida sobre como lidamos com dados do usuário e informações pessoais, entre em contacto connosco.
            </p>
            <h3>Compromisso do Usuário</h3>
            <p>
                O usuário se compromete a fazer uso adequado dos conteúdos e da informação que o idealizei oferece no site e com caráter enunciativo, mas não limitativo:
            </p>
            <ul>
                <li>A) Não se envolver em atividades que sejam ilegais ou contrárias à boa fé a à ordem pública;</li>
                <li>
                    B) Não difundir propaganda ou conteúdo de natureza racista, xenofóbica, ou apostas desportivas (ex.:<a href='https://ondeapostar.pt/review/moosh-portugal/'> Moosh</a>),
                    jogos de sorte e azar, qualquer tipo de pornografia ilegal, de apologia ao terrorismo ou contra os direitos humanos;
                </li>
                <li>
                    C) Não causar danos aos sistemas físicos (hardwares) e lógicos (softwares) do idealizei, de seus fornecedores ou terceiros,
                    para introduzir ou disseminar vírus informáticos ou quaisquer outros sistemas de hardware ou software que sejam capazes de causar danos anteriormente mencionados.
                </li>
            </ul>
            <h3>Mais informações</h3>
            <p>
                Esperemos que esteja esclarecido e, como mencionado anteriormente, se houver algo que você não tem certeza se precisa ou não,
                geralmente é mais seguro deixar os cookies ativados, caso interaja com um dos recursos que você usa em nosso site.
            </p>
            <p>Esta política é efetiva a partir de <strong>June</strong>/<strong>2021</strong>.</p>
        </div>
        
        <div class="tab-pane fade" id="perfil" role="tabpanel" aria-labelledby="profile-tab">
            <h2>1. Termos</h2>
            <p>
                Ao acessar ao site <a href='www.idealizei.com.br'>idealizei</a>, concorda em cumprir estes termos de serviço, todas as leis
                e regulamentos aplicáveis ​​e concorda que é responsável pelo cumprimento de todas as leis locais aplicáveis. Se você não concordar com algum
                desses termos, está proibido de usar ou acessar este site. Os materiais contidos neste site são protegidos pelas leis de direitos autorais e marcas comerciais aplicáveis.
            </p>
            <h2>2. Uso de Licença</h2>
            <p>
                É concedida permissão para baixar temporariamente uma cópia dos materiais (informações ou software) no site idealizei ,
                apenas para visualização transitória pessoal e não comercial. Esta é a concessão de uma licença, não uma transferência de título e,
                sob esta licença, você não pode: 
            </p>
            <ol>
                <li>A) modificar ou copiar os materiais;  </li>
                <li>B) usar os materiais para qualquer finalidade comercial ou para exibição pública (comercial ou não comercial);  </li>
                <li>C) tentar descompilar ou fazer engenharia reversa de qualquer software contido no site idealizei;  </li>
                <li>D) remover quaisquer direitos autorais ou outras notações de propriedade dos materiais; ou  </li>
                <li>E) transferir os materiais para outra pessoa ou 'espelhe' os materiais em qualquer outro servidor.</li>
            </ol>
            <p>
                Esta licença será automaticamente rescindida se você violar alguma dessas restrições e poderá ser rescindida por idealizei a qualquer momento.
                Ao encerrar a visualização desses materiais ou após o término desta licença, você deve apagar todos os materiais
                baixados em sua posse, seja em formato eletrónico ou impresso.
            </p>
            <h2>3. Isenção de responsabilidade</h2>
            <ol>
                <li>
                    Os materiais no site da idealizei são fornecidos 'como estão'. idealizei não oferece garantias, expressas ou implícitas, e, por este meio,
                    isenta e nega todas as outras garantias, incluindo, sem limitação, garantias implícitas ou condições de comercialização,
                    adequação a um fim específico ou não violação de propriedade intelectual ou outra violação de direitos.
                </li>
                <li>
                    Além disso, o idealizei não garante ou faz qualquer representação relativa à precisão, aos resultados prováveis ​​ou à confiabilidade do uso dos
                    materiais em seu site ou de outra forma relacionado a esses materiais ou em sites vinculados a este site.
                </li>
            </ol>
            <h2>4. Limitações</h2>
            <p>
                Em nenhum caso o idealizei ou seus fornecedores serão responsáveis ​​por quaisquer danos (incluindo, sem limitação,
                danos por perda de dados ou lucro ou devido a interrupção dos negócios) decorrentes do uso ou da incapacidade de usar os materiais em idealizei,
                mesmo que idealizei ou um representante autorizado da idealizei tenha sido notificado oralmente ou por escrito da possibilidade de tais danos.
                Como algumas jurisdições não permitem limitações em garantias implícitas, ou limitações de responsabilidade
                por danos conseqüentes ou incidentais, essas limitações podem não se aplicar a você.
            </p>
            <h2>5. Precisão dos materiais</h2>
            <p>
                Os materiais exibidos no site da idealizei podem incluir erros técnicos, tipográficos ou fotográficos.
                idealizei não garante que qualquer material em seu site seja preciso, completo ou atual. idealizei pode fazer alterações nos materiais contidos em seu
                site a qualquer momento, sem aviso prévio. No entanto, idealizei não se compromete a atualizar os materiais.
            </p>
            <h2>6. Links</h2>
            <p>
                O idealizei não analisou todos os sites vinculados ao seu site e não é responsável pelo conteúdo de nenhum site vinculado.
                A inclusão de qualquer link não implica endosso por idealizei do site. O uso de qualquer site vinculado é por conta e risco do usuário.
            </p>
            <h3>Modificações</h3>
            <p>
                O idealizei pode revisar estes termos de serviço do site a qualquer momento, sem aviso prévio. Ao usar este site,
                você concorda em ficar vinculado à versão atual desses termos de serviço.
            </p>
            <h3>Lei aplicável</h3>
            <p>
                Estes termos e condições são regidos e interpretados de acordo com as leis do idealizei e você se submete irrevogavelmente à jurisdição exclusiva dos
                tribunais naquele estado ou localidade.
            </p>
        </div>
    
    </div>

    <a href="~/Home/" title="registrar-se" class="btn_login_registrase"> <- Voltar</a>

    <script src="/Content/vendors/jquery/dist/jquery.min.js"></script>
    <script src="/Content/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>